@CHARSET "UTF-8";

body {margin: 0;padding: 0;height:100%;
background-color: #A0CFEC;
}

.TextContainer
{   
	margin-right:5%;
	float:right;
	padding-top: 1%;
	opacity: 1;
	height:150px;
}

h1 {color:#2980b9; font-family: 'Trocchi', serif; font-size: 62px; font-weight: normal; line-height: 48px; margin: 0; }
h4 { color:#2980b9; font-family: 'Source Sans Pro', sans-serif; font-size: 20px; font-weight: 400; line-height: 32px; 
 margin: 0 0 200px;
 }
 
 .SRequestsContainer{
 
 float:left;
 margin-left: 10%;
 margin-top:1%;
 }
 
 .Heading{
float:left;
margin-top:5%;
margin-left:12%;
 color:#2980b9; 
  font-family: 'Trocchi', serif; font-size: 48px; font-weight: normal; line-height: 48px; }
 
 .IndividualSRequestDiv{
 
 border-radius: 25px;
 border: 25px solid #A0CFEC;
 padding: 25px;
 margin: 25px;
 width:1000px;
 height:200px;
background-color: #2980b9;
 }
 .name{
 
  margin-top:2%;
 }
 input[type=text]
 {
 
 
  font-family: 'Trocchi', serif; font-size: 32px;
 background-color: #2980b9;
 border:none;
 }
 input[type=submit]
 {
 margin-top:8%;
 font-weight: bold;
font-family: sans-serif;
border:none;
height: 40px;
width: 30%;
background-color: #1abc9c;
color:#ffffff;
border:1px;
border-radius:10px;
 }
 
 .message{
 
   font-family: 'Trocchi', serif; font-size: 32px;
 }